[submodule "deps/tgbot-cpp"]
	path = deps/tgbot-cpp
	url = git@github.com:reo7sp/tgbot-cpp.git
[submodule "deps/SQLiteCpp"]
	path = deps/SQLiteCpp
	url = git@github.com:SRombauts/SQLiteCpp.git
[submodule "deps/sqlite_orm"]
	path = deps/sqlite_orm
	url = git@github.com:fnc12/sqlite_orm
